/* styles/style.css */

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* 背景色 */
    border-top: 1px solid #ddd; /* 上部の境界線 */
    display: flex; /* フレックスボックス */
    justify-content: space-around; /* リンクを均等に配置 */
  }
  
  nav a {
    display: flex;
    flex-direction: column; /* アイコンとテキストを縦に配置 */
    align-items: center; /* アイコンとテキストを中央揃え */
    padding: 10px;
    text-decoration: none;
    color: #555; /* リンクの色 */
    font-weight: bold;
  }
  
  nav a.active {
    color: #007bff; /* アクティブなリンクの色 */
  }
  
  nav i {
    font-size: 24px; /* アイコンのサイズ */
    margin-bottom: 5px; /* アイコンとテキストの間隔 */
  }




  /* スマホ画面サイズ (768px以下) の場合 */
@media (max-width: 768px) {
    /* ナビゲーションバーのスタイル */
    nav {
      font-size: 14px; /* 文字サイズを小さく */
    }
  
    nav i {
      font-size: 20px; /* アイコンサイズを小さく */
    }
  
    /* その他の要素のスタイル */
   
  }



  /* styles/style.css */

#badge-container img,
#coloring-container img {
  width: 100%; /* 画像の幅を100%にする */
  height: auto; /* 高さは自動調整 */
}


/* styles/style.css */

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    border-top: 1px solid #ddd; 
    display: flex; 
    justify-content: space-around; 
  }
  
  nav a {
    display: inline-block;
    text-align: center;
    width: 33.33%; 
    padding: 10px;
    text-decoration: none;
    color: #555; 
    font-weight: bold;
  }
  
  nav a.active {
    color: #007bff; 
  }
  
  .tab-content {
    display: none; 
    padding: 20px;
  }
  
  .tab-content.active {
    display: block; 
  }



  /* styles/style.css */

.feed-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding: 10px;
    border-radius: 5px; /* 角丸 */
  }
  
  .feed-item strong {
    font-weight: bold;
    font-size: 16px; /* ユーザー名に大きなフォントサイズ */
    margin-right: 10px; /* スポット名とのスペース */
  }
  
  
  .feed-item a {
    text-decoration: none;
    color: #007bff; /* リンクの色 */
  }
  
  .feed-item p {
    margin: 5px 0;
  }


  .feed-item img {
    max-width: 200px; /* 画像の最大幅 */
    height: auto; 
    margin-bottom: 10px;
  }


  .feed-item h3 {
    margin-top: 0; /* 見出しとテキストのスペースを調整 */
  }



#favorite-list {
    margin-top: 20px;  /* 見た目を整える余白 */
    border: 1px solid #ccc;  /* 見た目を整える境界線 */
    padding: 10px;
    border-radius: 5px;
}


#favorite-list ul {
    list-style: none; /* リストマーカーを除去 */
    padding: 0;
    margin: 0;
}

#favorite-list li {
    margin-bottom: 5px;
}

#favorite-list a {
    color: #337ab7;
    text-decoration: none;
}
